body {
    padding-top: 75px;
}

.navbar a {
    color: #fff !important;
}

.cart-block {
    background: #333;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 20px;
}

.card-list a {
    display: block;
    color: #666;
}

.card-list .card-header h3 {
    padding: 4px;
    font-size: 18px;
}

.card-header-blue {
    background: #007bff !important;
    color: #fff !important;
}

.card-header-dark {
    background: #333 !important;
    color: #fff !important;
}

.game {
    position: relative;
}

.game-title {
    text-align: center;
    padding: 5px;
    background: #333;
    color: #fff;
}

.game img{
    width: 100%;
}

.game-price {
    position: absolute;
    bottom: 120px;
    right: 15px;
    background: #007bff;
    color: #ffffff;
    padding: 5px;
    font-size: 22px;
    border-radius: 15px;
}

.game-add {
    margin: 5px auto 20px auto;
    width: 100%;
    text-align: center;
}

.details-price {
    font-size: 25px;
    margin-bottom: 20px;
}

.details img {
    width: 105%;
}

.footer {
    background: #333;
    color: #ffffff;
    height: 70px;
    text-align: center;
    padding-top: 20px;
}

.qty {
    width: 40px;
    color: #666 !important;
    text-align: center;
    margin-bottom: 20px;
}